
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.checklist {
    margin-bottom: 20px;
}

.checklist input[type="text"] {
    width: calc(100% - 105px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.checklist-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.buttons-see  {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-see:hover {
    background-color: #45a049;
}

.buttons-see:hover {
    background-color: #45a049;
}

#checklist-container {
    margin-bottom: 10px;
}

#checklist-container div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
}

#checklist-container div button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dc3545;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checklist-container div button:hover {
    background-color: #c82333;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-wrapper select:focus {
    outline: none;
}

.anexo-label {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #45a049;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: black;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.anexo-label span {
    display: block;
}

.anexo-label input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.anexo-label:hover {
    background-color: #45a049;
    color: white;
}

#file-name{
    width: 100%;
    background-color: #45a049;
}
#image-preview-container img{
    width:300px;
    margin-bottom: 30px;
}